/* styles.css */

/* added box sizing */
* {
    box-sizing: border-box;
}
  
/* added body styling */
body {
    background: #fff;
    font-family: Arial, sans-serif;
}

/* set width and margin of container */
div.container-fluid{
    padding: 0;
}

/* set header image and styling */
header {
    background: url(https://openweathermap.org/themes/openweathermap/assets/img/summer_banner.jpg);
    background-size: cover;
    background-position: center;
}

/* set header h1 styling */
header h1{
    color: #eb6e4b;
    font-size: 45px;
    font-weight: bold;
}

/* set nav styling */
nav {
    background-color: #F2F2F2;
}

nav div.row {
    padding-top: 20pt;
    padding-bottom: 20pt;
}

/* set nav h2 styling */
nav h2 {
    color: #48484A;
    font-size: 25px;
    font-weight: 700;
}

/* set ZIP code input styling */
input[type="text"] {
    color: #48484a;
    font-size: 14px;
    padding: 4pt 8pt;
    transition: border 1s;
    border: none;
    border-radius: 4pt 0 0 4pt;
    outline: none;
    height: 24pt;
    margin-right: -5px;
}

/* set input hover, focus, and active styling */
input[type="text"]:hover, input[type="text"].focus, input[type="text"]:active {
    outline: none;
}

/* set current weather and 5 day forecast button styling */
button {
    color: #f2f2f2;
    background-color: #48484a;
    border: none;
    border-color: #48484a;
    border-radius: 0 4pt 4pt 0;
    padding: 4pt 8pt;
    font-size: 14px;
    height: 24pt;

}

button#getWeather {
    border-radius: 0;
    margin-left: 0;
}

button#getForecast {
    background-color: #eb6e4b;
    border-color: #eb6e4b;
}

/* set current weather and 5 day forecast button hover styling */
button:hover {
    background: #646466;
}

button#getForecast:hover {
    background: #d56444;
}

/* set current weather div styling */
div.weather-col {
    width: fit-content;
    border: 1px solid #eb6e4b;
    border-width: 1px 0 1px 0;
    margin-left: 10px;
}

/* set date and time div styling */
div#date-time-div {
    font-size: 14px;
    color: #eb6e4b;
}

/* set city name and country name div styling */
div#city-div {
    font-size: 24px;
    color: #48484a;
    font-weight: bold;
    margin: 0 0 10px;
}

/* set icon temp div styling */
div#icon-temp-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* set temp span styling */
span#temp-span {
    font-size: 36px;
    color: #48484a;
    font-weight: 100;
    margin: 0;
}

/* set low temp / high temp span styling */
span#low-high-span {
    font-size: 24px;
    color: #fff;
    font-weight: 100;
    margin: 0;
    background-color: #eb6e4b;
    padding: 4pt 8pt;
    border-radius: 4pt;
}

/* set feels like weather div styling */
div#feels-like-weather-div {
    font-size: 14px;
    font-weight: 700;
    color: #48484a;
}

/* set current weather span styling */
span#weather-span {
    display: inline-block;
}

/* capitialize current weather span's first letter */
span#weather-span::first-letter {
    text-transform: uppercase;
}

/* set weather info div styling */
div#weather-info-div {
    border-left: 1px solid #eb6e4b;
    margin-top: 4pt;
    margin-bottom: 0;
}

/* set 5 day forecast weather div styling */
div.forecast-div {
    display: inline-block;
    width: fit-content;
    margin: 10px;
}

/* set 5 day forecast city name div styling */
div#city-name-div {
    font-size: 24px;
    color: #48484a;
    font-weight: bold;
}

/* set 5 day forecast day div styling */
div#day-div {
    font-size: 20px;
    color: #fff;
    background-color: #48484A;
    font-weight: bold;
    width: fit-content;
    margin: 10px;
    border-radius: 4pt;
}

/* set icon styling */
main img {
    display: inline;
    width: 50px;
    height: 50px;
    margin: 0;
    margin-left: -5px;
}

/* set footer margin */
footer {
    margin-top: 10em;
}